@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
body {
  font-family: $font-base;
  font-size: 18px;
}
@include media-breakpoint-up(md) {
  body {
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
}
h1 {
}
footer,
header {
  h1,
  h2 {
  }
  h1 {
  }
  h2 {
  }
}
.centered {
  text-align: center;
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
p {
}
.small {
  font-size: 0.8rem;
}
a {
  color: $brand-two;
  &:hover {
    color: $brand-three;
  }
  &:active,
  &:focus {
  }
  &:visited {
  }
}
